// behindthegames GLOBAL

/* element TITLE
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_global-title {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 55px;
  left: 95px;
  .container_logo {
    margin: 0 5px 0 0;
  }
  .container_guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container_name {
      p {
        @include font(Prompt,200,25px,25px,$color_white,1px);
        span {
          @include font(Prompt,200,35px,30px,$color_white,1px);
          strong {
            @include font(Prompt,900,40px,35px,$color_white,0);
          }
        }
      }
    }
    .container_fonction {
      p {
       @include font(Prompt,200,20px,20px,$color_white,1px);
      }
    }
  }
}

/* element HOST HOST
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_global-host-host {
  display: block;
  width: 1920px;
  height: 1080px;
  .container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    &.host-nv {
      p {
        background-position: 195px 10px;
        right: 955px;
      }
    } 
    &.host-at {
      p {
        background-position: 195px -140px;
        right: 30px;
      }
    }  
  }
  p {
    padding: 25px 120px 25px 20px;
    background: url("img/btg_background-host.png") no-repeat $color_blue;
    @include font(Prompt,400,35px,35px,$color_white,1px);
    position: absolute;
    top: 760px;
    strong {
      @include font(Prompt,900,35px,35px,$color_white,0);
      display: block;
    }
  }
}

/* element GUEST HOST
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_global-guest, .fullcontainer_global-host {
  position: absolute;
  bottom: 85px;
  left: 95px;
  .container_name {
    p {
      @include font(Prompt,400,40px,45px,$color_white,1px);
      strong {
        @include font(Prompt,900,45px,45px,$color_white,0);
        display: block;
      }
    }
  }
  .container_fonction {
    p {
      margin-top: 5px;
      @include font(Prompt,200,25px,30px,$color_white,1px);
    }
  }
}

.fullcontainer_global-guest-host {
  display: block;
  width: 1920px;
  height: 1080px;
  border: 1px solid black;
  .container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    &.host-nv {
      p {
        background-position: 150px -20px;
        top: 700px;
        right: 0;
      }
    }
    &.host-at {
      p {
        background-position: 150px -145px;
        top: 940px;
        right: 0; 
      }
    }
  }
  p {
    padding: 25px 120px 25px 20px;
    background: url("img/btg_background-host.png") no-repeat $color_blue;
    @include font(Prompt,400,20px,20px,$color_white,1px);
    position: absolute;
    strong {
      @include font(Prompt,900,20px,20px,$color_white,0);
      display: block;
    }
  }
}

.fullcontainer_global-host-guest {
  display: block;
  width: 1920px;
  height: 1080px;
  .container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    .host-guest {
      padding: 25px 120px 25px 20px;
      background: url("img/btg_background-guest.png") no-repeat $color-green;
      background-position: 450px -20px;
      position: absolute;
      right: 0;
      bottom: 100px;
      p.text_name {
        @include font(Prompt,400,25px,25px,$color_white,1px);
        strong {
          @include font(Prompt,900,25px,25px,$color_white,0);
          display: block;
        }
      }
      p.text_fonction {
        margin-top: 5px;
        @include font(Prompt,200,18px,18px,$color_white,0);
      }
    }
  }
}


