// behindthegames INTRO

/* element TIMER
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_intro-timer {
  text-align: center;
  width: 100%;
  .container_texte {
    margin: 50px 0;
    p {
      @include font(Prompt,300,15px,15px,$color_white,2px);
    }
  }
  .container_timer {
    width: 100%;
    opacity: 0.15;
    p {
      margin-left: -60px;
      @include font(Prompt,900,700px,10px,$color_white,1rem);
    }
  }
}

/* element GUEST
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_intro-guest {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
  left: 95px;
  .container_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container_name {
      p {
        @include font(Prompt,200,35px,35px,$color_white,0);
        span {
          @include font(Prompt,200,40px,35px,$color_white,0);
          strong {
            @include font(Prompt,900,40px,35px,$color_white,0);
          }
        }
      }
    }
    .container_fonction {
      p {
        @include font(Prompt,200,25px,35px,$color_white,0);
      }
    }
  }
}

/* element ORGA
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_intro-orga {
  display: block;
  width: 1920px;
  height: 1080px;
  .container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    &.orga {
      p {
        @include font(Prompt,400,30px,35px,$color_white,0);
        position: absolute;
        bottom: 110px;
        right: 95px;
        strong {
          @include font(Prompt,900,30px,30px,$color_white,0);
        }
        .orga_title {
          @include font(Prompt,100,25px,25px,$color_white,0);
        }
      }
    }
  }
}