// behindthegames GLOBAL

/* element TITLE
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_global-title {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 55px;
  left: 95px;
  .container_logo {
    margin: 0 5px 0 0;
  }
  .container_guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container_name {
      p {
        @include font(Prompt,200,25px,25px,$color_white,1px);
        span {
          @include font(Prompt,200,35px,30px,$color_white,1px);
          strong {
            @include font(Prompt,900,40px,35px,$color_white,0);
          }
        }
      }
    }
    .container_fonction {
      p {
       @include font(Prompt,200,20px,20px,$color_white,1px);
      }
    }
  }
}

/* element HOST HOST
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_global-host-host {
  position: absolute;
  top: 780px;
  &.host-nv {
    left: 590px;
  }
  &.host-at {
    left: 1525px;
  }
  p {
    @include font(Prompt,400,35px,35px,$color_white,1px);
    strong {
      @include font(Prompt,900,35px,35px,$color_white,0);
      display: block;
    }
  }
}

/* element GUEST HOST
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_global-guest, .fullcontainer_global-host {
  position: absolute;
  bottom: 85px;
  left: 95px;
  .container_name {
    p {
      @include font(Prompt,400,40px,45px,$color_white,1px);
      strong {
        @include font(Prompt,900,45px,45px,$color_white,0);
        display: block;
      }
    }
  }
  .container_fonction {
    p {
      margin-top: 5px;
      @include font(Prompt,200,25px,30px,$color_white,1px);
    }
  }
}
.fullcontainer_global-guest-host {
  position: absolute;
  left: 1750px;
  &.host-nv {
    top: 730px;
  }
  &.host-at {
    top: 970px;
  }
  p {
    @include font(Prompt,400,20px,20px,$color_white,1px);
    strong {
      @include font(Prompt,900,20px,20px,$color_white,0);
      display: block;
    }
  }
}
.fullcontainer_global-host-guest {
  position: absolute;
  right: 95px;
  bottom: 100px;
  .container_name {
    p {
      @include font(Prompt,400,25px,30px,$color_white,1px);
      strong {
        @include font(Prompt,900,25px,30px,$color_white,0);
        display: block;
      }
    }
  }
  .container_fonction {
    p {
      margin-top: 5px;
      @include font(Prompt,200,18px,20px,$color_white,0);
    }
  }
}


