// behindthegames PAUSE

/* element TEXTE
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_pause-title {
  display: block;
  width: 1920px;
  height: 1080px;
  .container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    p {
      @include font(Prompt,900,240px,50px,$color_white,0);
      text-align: center;
      position: absolute;
      top: 480px;
      width: 100%;
      .title_subtitle {
        margin-left: 100px;
        @include font(Prompt,200,20px,15px,$color_white,3px);
      }
    }
  }
}
