// behindthegames SLIDE

/* element GUEST
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_slide-guest {
  display: block;
  width: 1920px;
  height: 1080px;
  border: 1px solid black;
  .container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    .host-guest {
      padding: 25px 120px 25px 20px;
      background: url("img/btg_background-guest.png") no-repeat $color-green;
      background-position: 450px -20px;
      position: absolute;
      right: 0;
      bottom: 50px;
      p.text_name {
        @include font(Prompt,400,25px,25px,$color_white,1px);
        strong {
          @include font(Prompt,900,25px,25px,$color_white,0);
          display: block;
        }
      }
      p.text_fonction {
        margin-top: 5px;
        @include font(Prompt,200,18px,18px,$color_white,0);
      }
    }
  }
}

/* element HOST
------------------------------------------------------------------------------------------------------------------------------------ */
.fullcontainer_slide-host {
  display: block;
  width: 1920px;
  height: 1080px;
  border: 1px solid black;
  .container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    &.host-nv {
      p {
        background-position: 180px 10px;
        top: 280px;
        right: 0;
      }
    } 
    &.host-at {
      p {
        background-position: 195px -140px;
        top: 520px;
        right: 0;
      }
    } 
  }
  p {
    padding: 25px 120px 25px 20px;
    background: url("img/btg_background-host.png") no-repeat $color_blue;
    @include font(Prompt,400,20px,20px,$color_white,1px);
    position: absolute;
    strong {
      @include font(Prompt,900,20px,20px,$color_white,0);
      display: block;
    }
  }
}

